body {
    background-color: rgb(227, 255, 210);
    flex: auto;
    display: center;
}

.title {
    color: rgb(10, 92, 13);
}

.characters {
    display: flex;
    
}

.character {
    padding: 90, 90, 90, 90;
}